// Color variables

$green: #3a9c61;

$orange: #e98e19;

$gray: #241e18;

$colorQuote: #65615d;

$background: #f2f0e9;


////////////////
// Brand Colors
///////////////

$prime: $green;
$active: $orange;
$secondary: $gray;

// HovER effects

$hoverEffect: 10%;